# 데이터 타입

## 문자형

## > 생성하기
> 여닫는 따옴표는 반드시 문자의 앞 뒤에 한 쌍으로 완성해야 한다.
### 1) 한 줄 문자열 : ', "

In [2]:
10
"10"

'10'

In [3]:
a = '안녕하세요
반갑습니다'

SyntaxError: EOL while scanning string literal (2879652524.py, line 1)

In [11]:
a = '안녕하세요 \n반갑습니다'
b = '안녕하세요 \t반갑습니다'
c = '안녕하세요 \\n반갑습니다'
print(a)
print(b)
print(c)

안녕하세요
반갑습니다
안녕하세요 	반갑습니다
안녕하세요 \n반갑습니다

### 2) 여러 줄 문자열 : ''', """

- print()를 했을때 줄바꿈(enter)가 그대로 반영되는 문자열로 처리 가능
- 단 화면에서 보기를하면 (print 없이 마지막 줄에 변수 넣고 셀을 실행해서 보면)
- 줄바꿈이 바로 나타나지 않고 엔터키가 쳐진 줄바꿈 구간은 \n으로 대신 표현됩니다.

In [12]:
a = """안녕하세요
반갑습니다"""
a

'안녕하세요\n반갑습니다'

In [13]:
print(a)

안녕하세요
반갑습니다

### 3) 문자 속에 문자열 기호 사용하기
- 문자열에서 자주 쓰는 기호 : '. "

In [14]:
# 언어, 문자에서 많이 쓰이는 기호 : she's, '설렁탕을 사왔는데 왜 먹지를 못하니...'
a = "She's happy."
print(a)

She's happy.

In [15]:
title = '오늘은 "미세먼지" 좋음'
print(title)

오늘은 "미세먼지" 좋음

In [18]:
b = 'She\'s happy.'
print(b)

She's happy.

In [21]:
c = 'aaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaa\
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'
print(c)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# <<연습문제>>
### 1. 아래와 같은 여러 줄의 문장을 문자열로 만들어서 lines라는 변수에 할당하세요

> 파이썬도 배우고
> 장고도 배우고
> 할 게 너무 많아

방법 1) 여러 줄 문자열 활용하기(lines 변수에 할당)<br>
방법 2) 한 줄 문자열 내부에 \n을 사이사이에 활용하기.(line 변수에 할당)

In [22]:
# 방법1
lines = '''파이썬도 배우고
장고도 배우고
할 게 너무 많아'''
print(lines)

파이썬도 배우고
장고도 배우고
할 게 너무 많아

In [26]:
# 방법2
line = "파이썬도 배우고\n장고도 배우고\n할 게 너무 많아"
print(line)

파이썬도 배우고
장고도 배우고
할 게 너무 많아

## > 연산하기
### 1) 산술연산자 : 문자, 숫자를 함께 연산하기 위한 문법 기호

- 문자와 문자를 연결
- 동일한 문자를 반복해서 연결

In [27]:
# 문자와 문자를 연결 : +
'가' + '나'

'가나'

In [29]:
#1. 문자열 자체에 공백 추가하기 ('가 나' 로 출력되게 만들기)
'가' + ' ' + '나'

'가 나'

In [30]:
#2. 문자 + 문자가 아닌 자료형(ex 숫자) = Error
'가' + 1

TypeError: can only concatenate str (not "int") to str

In [31]:
#3. 문자를 여러번 반복하기 : *
# 동일한 문자열을 여러 번 반복 연결시켜줌
'abc' * 3 #'abc' + 'abc' + 'abc'

'abcabcabc'

In [32]:
# 문자 * 문자 = Error
'abc' * 'a'

TypeError: can't multiply sequence by non-int of type 'str'

### 2) 비교연산자 : 문자의 크기를 비교하기 위한 문법 기호

> 문자의 비교
* 대문자 VS 소문자 : 대문자보다 소문자 크기가 더 크다(아스키코드 : A = 65, a = 97)
* 알파벳 : 알파벳 순서가 뒤에 있을수록 (a보다는 z이) 크기가 더 크다
* 문자 길이 : 문자열의 길이가 길 수록 크기가 더 크다(len()으로 확인 가능)

In [33]:
# 대문자 vs 소문자 : 비교연산자 (==, !=, <, >)로 확인
'A' < 'a'

True

In [35]:
'Z' < 'a'

True

In [36]:
# 문자열을 대상으로 할 때에는 무조건 첫 글자끼리만 비교한다
# 문자 길이는 실제 크기 비교에 영향을 미치지 않음
'b' < 'BUS' # 98 < 66

False

In [37]:
# 문자 길이는 len(문자열) 형식으로 볼 수 있다
len('b') < len('BUS') # 1 < 3

True

In [38]:
# 영문자와 영문자 이외의 다른 문자간 비교는 무조건 영문자가 작게 나온다
# ascii code VS unicode
'B' < '가'

True

## > 인덱스

### 1) 인덱싱 : 특정 위치의 아이템에 접근
- 아이템(대상이 가지고 있는 최소 단위의 값)의 위치를 나타내는 고유한 번호
- 첫 번째 위치는 0부터 시작
- 마지막 위치는 -1 부터 시작(파이썬의 특징)

In [39]:
# banana라는 문자열에 대해 인덱싱
text = 'banana'

In [45]:
# banana라는 문자열에서 첫 번째 아이템 = 0번째 인덱스 번호롤 접근
# 인덱싱 문법 : 객체(대상 : 값, 자료형)[인덱스 번호]
text[0]

'b'

In [43]:
# 마지막 아이템인 'a'에 접근시켜보세요
text[-1] # or text[5]

'a'

### 2) 슬라이싱 : 연속된 범위의 여러 아이템에 접근

* 대상객체[처음인덱스 : 마지막인덱스( : 간격)]
* 처음 인덱스 번호는 포함(n부터 ~)
* 마지막 인덱스 번호는 포함하지 않음(n-1까지)
* 간격조정은 할 수도 있고 하지 않을수도 있음(기본은 1씩 증가)

In [46]:
# 문자열 생성
text = "hello python world"

In [47]:
# 처음부터 특정 위치가지 : ~python
# 처음 인덱스 : 0
# 마지막 인덱스 : python의 n 다음 문자가 몇 번째인지 확인
text[0:12]

'hello python'

In [48]:
# 처음부터 특정 위치가지 : ~python
# 처음 인덱스 : 0
# 마지막 인덱스 : -7(뒤에서 7번째까지를 가져와야 하므로 실제로는 -6까지를 타겟으로)
text[0:-6]

'hello python'

In [49]:
# 첫 인덱스가 0으로 시작한다면 생략 가능
text[:-6] # text[:12]

'hello python'

In [59]:
# 특정 위치부터 마지막 아이템까지 : python
# 처음 인덱스 : 6
# 마지막 인덱스 : -6
# 간격 : 기본값(1)
text[6:-6:1] # text[6:12:(1)]

'python'

In [57]:
# 전체 가져오기 : 처음 인덱스, 마지막 인덱스를 모두 쓰지 않으면 전체 아이템을 모두 가져오는 결과
# 처음 인덱스 기본값 : 0
# 마지막 인덱스 기본값 : 마지막까지
text[:]

'hello python world'

In [58]:
# 간격을 2로 주려면 :를 두 개 쓰고 가장 오른쪽에 증감분을 적습니다.
text[::2]

'hlopto ol'

# <<연습문제>>

### 20220524 미세먼지양호함
### 위의 문장을 weather 변수에 저장한 다음
### 날짜는 date 변수에 슬라이싱으로 받아오고 micro 변수에 미세먼지 정도를
### 슬라이싱으로 받아오도록 만들어서 출력해주세요

출력 양식 : <br>
날짜 : 20220524
날씨 : "미세먼지양호함"

In [67]:
weather = "20220524 미세먼지양호함"
date = weather[:8]
micro = weather[9:]

In [70]:
print("날짜 :", date)
print("날씨 :", micro)

날짜 : 20220524
날씨 : 미세먼지양호함

## > 포매팅(Formatting)

특정 값만 바뀌고 일정한 형식을 가지는 문자열을 작성할 수 있는 기법

### 1. %포매팅

- 데이터 타입에 따른 분류 : 정수, 실수, 문자
- 옵션 길이 : 문자열 길이, 표현할 아이템 개수, 정렬, 공백

### 1) 숫자값 대입

In [ ]:
#1. 가변자료가 들어갈 자리(땡땡...에 해당하는)에 구명(%자료형)을 낸다.
#2. 구멍이 뚫린 문자열 뒤에 %로 연결한 다음 집어넣을 값을 적는다.

In [77]:
# 정수 값 포매팅 : 정수(int) -> %d
'오늘은 %d일입니다.' % 24 # 10진수 숫자를 digital이라고 부르기때문에 %d이다

'오늘은 24일입니다.'

In [76]:
온도 = 24
if 온도 == 24:
    print('오늘은 24도입니다.')
elif 온도 == 25:
    print('오늘은 25도입니다.')

오늘은 24도입니다.

In [79]:
# 정수 자리의 의미 : 출력되는 형식이 정수라는 의미
# 반올림이 아니라 소수점 아래를 버린 결과를 출력한다.
'오늘은 %d일입니다.' % 16.62432143141

'오늘은 16일입니다.'

In [80]:
# 실수 값 포매팅 : 실수(float) -> %f
# %f를 이용하여 값에 대한 구멍을 낸다.
# %f는 기본적으로 소수점 6자리까지 표현한다.
'오늘의 온도는 %f도 입니다.' % 24

'오늘의 온도는 24.000000도 입니다.'

In [81]:
# 실수값 포매팅2 : 집어넣는 값을 실수로 적용
# 실수값 포매팅은 반올림이 적용된다.
'당신의 점수는 %f점 입니다.' % 92.123456789

'당신의 점수는 92.123457점 입니다.'

In [82]:
# 옵션 : 소수점 아래 자리를 몇 자리까지 출력할지 정할 수 있음
# %0.nf : 소수점 아래 n자리까지만 표현하는 실수
'당신의 점수는 %0.3f점 입니다.' % 92.123456789

'당신의 점수는 92.123점 입니다.'

In [85]:
# 가변자료를 2개 이상 넣는 케이스
# 집어넣는 값은 왼쪽부터 하나씩 전달됨
# 2개 이상을 집어넣는 경우는 %(1번째 값, 2번째 값...)과 같이 ()로 감싸서 전달한다.
'오늘은 %d월 %d일 입니다.' % (5, 24)

'오늘은 5월 24일 입니다.'

In [86]:
# %d, %f에 숫자가 아닌 자료를 넣으면 에러가 발생합니다.
'오늘은 %d월 %d일 입니다.' % ('5', '24')

TypeError: %d format: a number is required, not str

### 2) 문자값 대입
- %s로 구멍 뚫기 
- 집어넣는 값에 대해서는 제한이 없다
- 만능 포매팅

In [87]:
# 집어넣는 값 : 문자 타입
'%s님 접속을 환영합니다.' % 'abc1234' # 문자타입이 String이기때문에 %s이다

'abc1234님 접속을 환영합니다.'

In [88]:
# 문자 이외의 타입도 가능하다
'%s, 숫자도 입력 가능' % 1000

'1000, 숫자도 입력 가능'

# <<연습문제>>

### 아래 문장에 대해 조건을 만족하는 포매팅을 작성해주세요
"날짜 : 2022-05-24 / 출석률 : 88%"<br>
    - 전달하는 값 : 4개<br>
    - 출석한 학생 수 : 16명<br>
    - 총 학생 수 : 18명<br>
    - 출석률은 소수점 첫 번째 자리에서 반올림 적용

In [97]:
'날짜 : %s-0%s-%s / 출석률 : %0.1f%%' % (2022, 5, 24, (16/18)*100)
# '날짜 : %s-%s-%s / 출석률 : %0.1f%%' % (2022, '05', 24, (16/18)*100)

'날짜 : 2022-05-24 / 출석률 : 88.9%'

## > 문자열 내장함수* = 문자열 메서드

    └≫ 내장함수 : 특정 데이터 타입이 자체적으로 가지고 있는 속성으로 존재하는 함수
    └≫ 문법 : 변수(데이터타입값).함수명()


* count( ) : 특정 문자의 개수

* find( ) :특정 문자의 인덱스 번호(위치)

* join( ) : 특정 기호를 문자열 아이템 사이에 입력

* upper( ) : 문자열을 대문자로 변경

* lower( ) : 문자열을 소문자로 변경

* capitalize( ) : 문자열의 첫 글자를 대문자로

* swapcase( ) : 대문자는 소문자로, 소문자는 대문자로 전환

* lstrip( ) / rstrip( ) / strip( ) : 좌 / 우 / 앞뒤 공백(기본) 및 특정 문자 지우기

* replace( ) : 기존 문자를 새로운 문자로 바꾸기

* split( ) : 특정 기호를 기준으로 문자열을 아이템 단위로 나누어 리스트로 반환

* center( ) : 문자열 길이를 지정하여 대상 문자열을 중앙 정렬

* ljust( ) : 문자열 길이를 지정하여 대상 문자열을 왼쪽 정렬

* rjust( ) : 문자열 길이를 지정하여 대상 문자열을 오른쪽 정렬

In [3]:
# 문자열 생성
text = 'tomato juice'

In [99]:
# count() : 특정 문자의 갯수
# text 문자열에서의 a의 갯수
text.count('a')

1

In [102]:
# count()
# text 문자열에서의 to의 갯수
text.count('to')

2

In [101]:
# count()
# text 문자열에서의 q의 갯수
text.count('q')

0

In [104]:
# find() : 특정 값의 인덱스 번호를 반환
# text 문자열에서의 o의 인덱스 번호
# find('찾을 자료', '시작인덱스')를 적어주면 특정 인덱스부터만 찾아볼수도 있음
# 없는 자료 조회시 -1이라는 인덱스를 리턴
text.find('o', 2)

5

In [106]:
text.find('to', 1) # 단어를 찾을 수도 있음

4

In [105]:
text.find('q')

-1

In [107]:
# upper()
# 변경한 결과를 시뮬레이션해서 보여줌(원본자료는 변경되지 않음)
text.upper()

'TOMATO JUICE'

In [2]:
text

NameError: name 'text' is not defined

In [4]:
# lower()
text2 = text.upper()
text2

'TOMATO JUICE'

In [5]:
text2.lower()

'tomato juice'

In [6]:
text = '                                   123                123                      '

In [7]:
# lstrip()
# 문자열의 왼쪽에 있는 공백 전부 제거(가운데는 제거 안함)
# 일시적인 결과만 보여줌(원본자료는 변경되지 않음)
text.lstrip()

'123                123                      '

In [8]:
text

'                                   123                123                      '

In [9]:
# rstrip()
# 문자열의 오른쪽에 있는 공백 전부 제거(가운데는 제거 안함)
# 일시적인 결과만 보여줌(원본자료는 변경되지 않음)
text.rstrip()

'                                   123                123'

In [10]:
text

'                                   123                123                      '

In [11]:
# strip()
# 문자열의 양 옆에 있는 공백 전부 제거(가운데는 제거 안함)
# 일시적인 결과만 보여줌(원본자료는 변경되지 않음)
text.strip()

'123                123'

In [12]:
text

'                                   123                123                      '

In [13]:
# replace(old, new)
# 찾아바꾸기, 문자열 내에서 old에 해당하는 문자를 찾아 new로 싹 다 교체
# 공백 찾아 없애기에 쓸 수 있음
# 역시 원본 자료에 바로 저장되지 않고 일시적으로 변경된 결과만 보여줌
text.replace('123', '456')

'                                   456                456                      '

In [14]:
text

'                                   123                123                      '

In [15]:
# text 내부 공백을 싹 다 없애보세요.
text.replace(" ", "")

'123123'

In [16]:
text

'                                   123                123                      '

In [17]:
text2 = 'a b c'

In [18]:
# split('기준')
# 쪼개기
# 기준 입력시 기준점을 기준으로 쪼개고 입력 안 하면 ' ', \n, \t 등을 기준으로 쪼개줌
text2.split()

['a', 'b', 'c']

In [19]:
text2

'a b c'

In [20]:
text3 = 'a,b,c,ddes'

In [21]:
# 기준 설정시 공백이 아닌 기준문자를 직접 입력해 쪼개기
# , 를 대상으로 쪼갤 경우 나오는 text3의 결과물은 4개
text3.split(",")

['a', 'b', 'c', 'ddes']

In [22]:
# join()
# 왼쪽에 있는 요소를 .join(자료) 의 자료 인덱스 사이사이에 입력해줌
text = 'abc'
",".join(text)

'a,b,c'

In [23]:
# 마지막 인덱스 번호 = -1 을써도 되고 = len(문자열)-1 도 가능
x = 'abcdefg'

In [24]:
x[-1]

'g'

In [25]:
x[len(x)-1]

'g'